<div id="<%= dom_id logo_placement %>">
  <p>
    <strong>Sponsor:</strong>
    <%= logo_placement.sponsor_id %>
  </p>

  <p>
    <strong>Page name:</strong>
    <%= logo_placement.page_name %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= logo_placement.section %>
  </p>

  <p>
    <strong>Displayed:</strong>
    <%= logo_placement.displayed %>
  </p>

</div>
