<%= form_with(model: [:admin, event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="error-messages">
      <h4><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h4>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Event Title" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "Event Description" %>
    <%= form.text_area :description, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :event_date, "Event Date & Time" %>
    <%= form.datetime_local_field :event_date %>
  </div>

  <div class="field">
    <%= form.label :location, "Event Location" %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :capacity, "Maximum Capacity" %>
    <%= form.number_field :capacity, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>