<div id="<%= dom_id user %>" class="user-card">
  <div class="user-header">
    <% if user.google_avatar_url.present? %>
      <div class="user-avatar">
        <img src="<%= user.google_avatar_url %>" alt="<%= user.first_name %>'s avatar">
      </div>
    <% end %>
    <div class="user-info">
      <h3 class="user-name"><%= user.first_name %> <%= user.last_name %></h3>
      <p class="user-email"><%= user.email %></p>
      <% if user.role.present? %>
        <span class="user-role badge"><%= user.role.titleize %></span>
      <% end %>
      <% if user.organizational_role.present? %>
        <span class="user-role badge"><%= user.organizational_role.name %></span>
      <% end %>
    </div>
  </div>
</div>
