<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<% content_for :title, "Users" %>

<div class="users-page">
  <div class="page-header">
    <h1>Users</h1>
  </div>

  <div class="filter-section">
    <%= form_with url: users_path, method: :get, local: true, class: 'filter-form' do |f| %>
      <div class="filter-group">
        <%= f.label :organizational_role_id, 'Filter by Organizational Role:', class: 'filter-label' %>
        <%= f.select :organizational_role_id,
            options_for_select(
              [['All Users', '']] + @organizational_roles.map { |r| [r.name, r.id] },
              params[:organizational_role_id]
            ),
            {},
            { class: 'filter-select', onchange: 'this.form.submit();' } %>
      </div>
    <% end %>
  </div>

  <div id="users" class="users-grid">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>

  <div>
      <br> <!-- NOTE: Probably needs to be styled with CSS instead of a <br> tag -->
      <br>
      <%= link_to "Back to Admin Dashboard", admin_panel_root_path, class: "btn btn-primary" %>
  </div>
</div>
