<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<div class="user-show-page">
  <div class="user-profile">
    <%= render @user %>
  </div>

  <div class="user-actions-bar">
    <%= link_to "â† Back to users", users_path, class: "btn btn-outline" %>
    <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
    <%= button_to "Delete User", @user, method: :delete,
                  class: "btn btn-danger",
                  form: { data: { turbo_confirm: "Are you sure you want to delete #{@user.first_name} #{@user.last_name}?" } } %>
  </div>
</div>
