<div class="user-show-page">
  <div class="user-profile">
    <%= render @user %>
  </div>

  <div class="user-actions-bar">
    <% if admin_user? %>
      <%= link_to "â† Back to users", users_path, class: "btn btn-outline" %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>
    <% if @user.resume.present? %>
      <%= link_to 'View Resume', user_resume_path(@user), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Create Resume', new_user_resume_path(@user), class: 'btn btn-primary' %>
    <% end %>
    <% if admin_user? %>
      <%= button_to "Delete User", @user, method: :delete,
                    class: "btn btn-danger",
                    form: { data: { turbo_confirm: "Are you sure you want to delete #{@user.first_name} #{@user.last_name}?" } } %>
    <% end %>
  </div>
</div>
