<h1>Organizational Roles</h1>

<%= link_to 'New Organizational Role', new_admin_panel_organizational_role_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @organizational_roles.each do |organizational_role| %>
      <tr>
        <td><%= organizational_role.name %></td>
        <td><%= organizational_role.description %></td>
        <td>
          <%= link_to 'Show', admin_panel_organizational_role_path(organizational_role) %>
          <%= link_to 'Edit', edit_admin_panel_organizational_role_path(organizational_role) %>
          <%= link_to 'Delete', admin_panel_organizational_role_path(organizational_role), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back to Dashboard', admin_panel_dashboard_path %>
