<h1>Organizational Role Details</h1>

<p>
  <strong>Name:</strong>
  <%= @organizational_role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organizational_role.description %>
</p>

<br>
<%= link_to "Edit", edit_admin_panel_organizational_role_path(@organizational_role) %>
<%= link_to "Back to List", admin_panel_organizational_roles_path %>
<%= link_to "Delete", admin_panel_organizational_role_path(@organizational_role), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
