<h1><%= @sponsor.company_name %></h1>

<div class="sponsor-details">
  <p><strong>Website:</strong> <%= @sponsor.website %></p>
  <p><strong>Tier:</strong> <%= @sponsor.tier %></p>
  <p><strong>Contact Email:</strong> <%= @sponsor.contact_email %></p>
  <p><strong>Phone Number:</strong> <%= @sponsor.phone_number %></p>
  <p><strong>Description:</strong> <%= @sponsor.company_description %></p>
  <p><strong>Resume Access:</strong> <%= @sponsor.resume_access? ? "Yes" : "No" %></p>

  <p>Logo Placements</p>
  <%= link_to "Add Logo Placement", new_admin_panel_sponsor_logo_placement_path(@sponsor) %>

  <ul>
    <% @sponsor.logo_placements.each do |placement| %>
      <li>
        <%= placement.page_name.titleize %> - <%= placement.section %>
        <%= link_to "Edit", edit_admin_panel_sponsor_logo_placement_path(@sponsor, placement) %>
        <%= link_to "Delete", admin_panel_sponsor_logo_placement_path(@sponsor, placement),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>

<div class="actions">
  <%= link_to 'Edit Sponsor', edit_admin_panel_sponsor_path(@sponsor) %>
  <%= link_to "Assign Users", assign_users_admin_panel_sponsor_path(@sponsor) %>
  <%= button_to 'Delete Sponsor', admin_panel_sponsor_path(@sponsor),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this sponsor?" } %>
  <%= link_to 'Back to Sponsors', admin_panel_sponsors_path %>
</div>