<%= form_with(model: resume, url: user_resume_path(@user), method: resume.new_record? ? :post : :patch) do |form| %>
  <% if resume.errors.any? %>
    <div style="color: red; background-color: #ffebee; border: 1px solid red; padding: 10px; margin-bottom: 15px;">
      <h2>Cannot save resume, <%= pluralize(resume.errors.count, "error") %> found:</h2>

      <ul>
        <% resume.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file, "Upload Resume" %>
    <%= form.file_field :file, accept: 'application/pdf' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
