<% current_user = admin_signed_in? ? User.find_by(google_uid: current_admin.uid) : nil %>

<div class="resume-show">
  <%= link_to root_path, class: "back-to-home" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
    <span>Home</span>
  <% end %>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <div class="resume-user-info justify-center">
    <% if current_user&.role&.in?(['admin', 'sponsor']) %>
      <h2>
        Resume for <%= @resume.user.first_name + ' ' + @resume.user.last_name%>
      </h2>
    <% else %>
      <h2>
        Your Resume
      </h2>
    <% end %>
  </div>

  <div class="resume-file-section">
    <p>
      <% if @resume.file.attached? %>
      <div class="resume-actions">
        <%= link_to "Download", download_resume_path(@resume), class: "btn btn-resume-download", data: { turbo: false } %>
        <%= link_to "Edit this resume", edit_resume_path(@resume), class: "btn btn-resume-edit" %>

        <%= button_to "Delete Resume", @resume, method: :delete, class: "btn btn-danger" %>
        <% if current_user&.role&.in?(['admin', 'sponsor']) %>
          <span class="vertical-divider"></span>
          <%= link_to "Browse Resumes", resumes_path, class: "btn btn-resume-index" %>
        <% end %>
      </div>
        <!-- or inline preview for supported types -->
        <!-- <%= link_to "View", url_for(@resume.file) %> -->
      <% else %>
        No file uploaded.
      <% end %>
    </p>

    <% if @resume.file.attached? %>
      <div class="resume-preview">
        <iframe src="<%= url_for(@resume.file) %>">
          Your browser does not support iframes. 
          <a href="<%= url_for(@resume.file) %>">Download the resume</a>.
        </iframe>
      </div>
    <% else %>
      <p>No resume attached.</p>
    <% end %>
  </div>
</div>